/*

|||||  ||||  //// ||||| ||||| |||\    /|\   |\  |  ||   /||\
||    |  || ||      |     |   ||  |  || ||  | \ |  ||  ||
||||| |||||  \\\    |     |   ||||   || ||  | | |  ||  ||
||    |  ||    ||   |     |   ||  |  || ||  | | |  ||  ||
||||| |  || ////    |     |   ||  |   \|/   | |/   ||   \||/

*/
@import "./footer.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*#0e1b4d*/
:root {
  --darkmode-bg: #fff;
  --darkmode-txt: #7c7c7c;
  --darkmode-txt-dark: #000;
  --darkmode-txt-blue: #0d3a66;
  --darkmode-shadow: gray;
}

body.dark {
  --darkmode-bg: #000;
  --darkmode-txt: #fff;
  --darkmode-txt-dark: #fff;
  --darkmode-txt-blue: #1f8cf3;
  --darkmode-shadow: black;
}

/*----------------------------------------*
# General
*----------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--darkmode-txt);
  background: var(--darkmode-bg);
}
body a {
  text-decoration: none;
  transition: 0.5s;
  color: #1f8cf3;
}
body a:hover, body a:active, body a:focus {
  color: #1f8cf3;
  outline: none;
  text-decoration: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--darkmode-txt-blue);
}
body p {
  padding: 0;
  margin: 0 0 30px 0;
}

/*----------------------------------------*
# Back to top Button
*----------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0d3a66;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #1f8cf3;
  color: #fff;
}
.back-to-top .active {
  visibility: visible;
  opacity: 1;
}

/*----------------------------------------*
# Header / Navigation
*----------------------------------------*/
#header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 996;
}
#header nav {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 400px;
  background: rgba(0, 0, 0, 0.6666666667);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  bottom: 1.2em;
}
#header nav ul {
  display: flex;
  width: 400px;
}
#header nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
}
#header nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
#header nav ul li a .icon {
  display: block;
  line-height: 75px;
  font-size: 2em;
  text-align: center;
  transition: 0.5s;
  color: white;
}
#header nav ul li a .text {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
#header nav ul li.active a .text {
  opacity: 1;
  transform: translateY(20px);
}
#header nav ul li:nth-child(1).active ~ .indicator { /* 70px is width of .navigation ul li*/
  transform: translateX(0px);
}
#header nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}
#header nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}
#header nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}
#header nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}
#header nav ul li.active a .icon {
  transform: translateY(-30px);
  color: white;
  z-index: 999;
}

.indicator {
  position: absolute;
  top: -50%;
  height: 70px;
  width: 70px;
  background: #1f8cf3;
  border-radius: 50%;
  transition: 0.5s;
}

.darkmode-btn {
  position: fixed;
  top: 20px;
  right: 25px;
}
.darkmode-btn label {
  background: #1f8cf3;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 25px;
  width: 50px;
  transform: scale(1.5);
}
.darkmode-btn label .ball {
  background: #1f8cf3;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 21px;
  width: 21px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.darkmode-btn input {
  position: absolute;
  opacity: 0;
}
.darkmode-btn input:checked + label .ball {
  transform: translateX(24px);
  background: #0d3a66;
}
.darkmode-btn input:checked + label {
  background: #0d3a66;
}/*# sourceMappingURL=header.css.map */