/*

|||||  ||||  //// ||||| ||||| |||\    /|\   |\  |  ||   /||\
||    |  || ||      |     |   ||  |  || ||  | \ |  ||  ||
||||| |||||  \\\    |     |   ||||   || ||  | | |  ||  ||
||    |  ||    ||   |     |   ||  |  || ||  | | |  ||  ||
||||| |  || ////    |     |   ||  |   \|/   | |/   ||   \||/

*/
@import url(/mnt/7E0BA3DA3CE198E9/WebDesign/Easttronics v04/assets/css/footer.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*#0e1b4d*/
:root {
  --darkmode-bg: #fff;
  --darkmode-txt: #7c7c7c;
  --darkmode-txt-dark: #000;
  --darkmode-txt-blue: #0d3a66;
  --darkmode-shadow: gray;
}

.darkmode {
  --darkmode-bg: #000;
  --darkmode-txt: #fff;
  --darkmode-txt-dark: #fff;
  --darkmode-txt-blue: #1f8cf3;
  --darkmode-shadow: black;
}

.darkmode .darkmode-btn {
  background: #0d3a66;
}

.darkmode .darkmode-btn .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
  background: #0d3a66;
}

/*----------------------------------------*
# General
*----------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--darkmode-txt);
  background: var(--darkmode-bg);
}

body a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #1f8cf3;
}

body a:hover, body a:active, body a:focus {
  color: #1f8cf3;
  outline: none;
  text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0 0 20px 0;
  color: var(--darkmode-txt-blue);
}

body p {
  padding: 0;
  margin: 0 0 30px 0;
}

/*----------------------------------------*
# Back to top Button
*----------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0d3a66;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #1f8cf3;
  color: #fff;
}

.back-to-top .active {
  visibility: visible;
  opacity: 1;
}

/*----------------------------------------*
# Header / Navigation
*----------------------------------------*/
#header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 996;
}

#header nav {
  position: fixed;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 400px;
  background: #000000aa;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  bottom: 1.2em;
}

#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
}

#header nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
}

#header nav ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

#header nav ul li a .icon {
  display: block;
  line-height: 75px;
  font-size: 2em;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  transition: 0.5s;
}

#header nav ul li a .text {
  position: absolute;
  color: white;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#header nav ul li.active a .text {
  opacity: 1;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

#header nav ul li.active a .icon {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: white;
  z-index: 999;
  top: -50%;
  height: 75px;
  width: 75px;
  background: #1f8cf3;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.darkmode-btn {
  position: fixed;
  top: 20px;
  right: 25px;
  background: #1f8cf3;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  height: 25px;
  width: 50px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.darkmode-btn .ball {
  background: #1f8cf3;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 21px;
  width: 21px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
/*# sourceMappingURL=header.css.map */